body,
html {
	width: 100%;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

#header-text {
	font-weight: 700;
	/* font-size: 3rem; */
}

#header-desc {
	font-weight: 400;
	/* font-size: 1.5rem; */
}

.nav {
	margin-left: 0;
}

.nav-link {
	color: #000000;
	font-size: 1.1rem;
	transition: 0.6s;
}

.nav-link:hover {
	color: rgb(17, 17, 17);
}

.active {
	color: #000;
	font-weight: 700;
}

.btn-contact {
	border-radius: 0;
	background: #000;
	border: 1px solid black;
	transition: 0.6s;
}

.btn-contact .nav-link {
	color: #fff;
}

.btn-contact:hover .nav-link {
	background-color: rgb(17, 17, 17);
	color: #fff;
}

.buffer {
	height: 120px;
}
